bcrypt==3.2.0
certifi==2020.12.5
cf-api==1.0.0
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.6
dropsonde==0.0.5
idna==2.10
paramiko==2.7.2
protobuf==3.15.3
pycparser==2.20
pycrypto==2.6.1
PyJWT==1.7.1
PyNaCl==1.4.0
PyYAML==5.4.1
requests==2.25.1
requests-factory==0.1.8
requests-toolbelt==0.9.1
six==1.15.0
urllib3==1.26.3
websocket-client==0.57.0